body
	{
	padding: 0;
	margin: 0;
	font: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #272727;
	background-image: url(images/bg-main-repeat.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	background-color: #ffffff;
	width: 100%;
	}

a, a:active, a:visited
	{
	text-decoration: none;
	color: #272727;
	}

a:hover
	{
	text-decoration: underline;
	}

h1, h2, h3, h4, h5, h6
	{
	margin: 10px 0 10px 0;
	padding: 20px 0 20px 0;
	font-size: 22px;
	font-weight: bold;
	}

#wrapper0
	{
	width: 100%;
	margin: 0 0 -20px 0;
	padding: 0;
	background-image: url(images/bg-main.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	}

#wrapper1
	{
	width: 960px;
	margin: 0 auto 0 auto;
	padding: 0;
	background-image: url(images/bg-top.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	}

#top
	{
	}

#nav1
	{
	height: 45px;
	padding: 10px 20px 0 30px;
	margin: 0 0 0 0;
	}

#nav1 li
	{
	}

#nav1 a
	{
	display: block;
	padding: 10px 20px 10px 20px;
	color: #6f2a8e;
	font: Verdana, Arial, Helvetica, sans-serif;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	}

#nav1 a:hover
	{
	color: #272727;
	text-decoration: none;
	}

#nav1 a.active
	{
	background-color: #6f2a8e;
	color: #ffffff;
	border: 2px solid #e1ceea;
	padding-top: 8px;
	padding-bottom: 8px;
	}
		
#search
	{
	padding: 8px 0 0 0;
	width: 426px;
	}

#search form
	{
	float: right;
	}

#searchField
	{
	width: 250px;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #272727;
	}

#searchButton
	{
	margin: 0 0 0 5px;
	vertical-align: middle;
	}

#wrapper2
	{
	width: 960px;
	margin: 0 auto 0 auto;
	padding: 0;
	background-color: #ffffff;
	}
	
#splash
	{
	display: block;
	}

#content
	{
	min-height: 300px;
	padding: 30px;
	}

#content .title
	{
	border-bottom: 1px solid #272727;
	margin: 20px 0 20px 0;
	}

#content h1.title
	{
	margin-top: 0 !important;
	}

#left
	{
	width: 280px;
	float: left;
	}

#right
	{
	width: 590px;
	float: right;
	}

#description
	{
	clear: both;
	}

#description p.first
	{
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	margin-top: 0;
	padding-top: 0;
	color: #936aad;
	}

#clients, #services, #searchResults
	{
	width: 600px;
	}

#clients li, #services li, #thumbs li, #searchResults li
	{
	padding: 0 10px 10px 0;
	margin: 0;
	text-align: center;
	width: 110px;
	}

#clients li p, #services li p, #searchResults li p
	{
	height: 30px;
	overflow: hidden;
	margin: 0;
	padding: 10px;
	}

#images li
	{
	margin: 0 0 10px 0;
	}

.imageBorder
	{
	background-image: url(images/bg-image.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 5px;
	text-align: center;
	}

.thumbBorder
	{
	background-image: url(images/bg-thumb.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 5px;
	text-align: center;
	}

#thumbs .thumbBorder
	{
	background-image: url(images/bg-thumb-green.jpg);
	}

#getInTouch
	{
	margin: 0 0 20px 0;
	}

#getInTouch .title
	{
	margin-top: 0 !important;
	}

#getInTouch form
	{
	padding: 0;
	}

#getInTouch label
	{
	width: 60px;
	display: inline-block;
	vertical-align: top;
	}		

#getInTouch .textbox
	{
	width: 210px;
	margin: 0 0 10px 0;
	}

#getInTouch textarea
	{
	width: 210px;
	height: 100px;
	margin: 0 0 10px 0;
	}

#getInTouch .buttonWrapper
	{
	margin-left: 64px;
	}

#newsFeed
	{
	height: 218px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	}

#newsFeed .title
	{
	
	}

#newsFeed .title a
	{
	float: right;
	clear: none;
	}

#newsFeed ul
	{
	margin: 0 12px 0 12px;
	padding: 0 10px 0 10px;
	}

#newsFeed ul li
	{
	margin: 0;
	padding: 5px 0 5px 0;
	font-size: 10px;
	}

#wrapper3
	{
	width: 100%;
	margin: 0;
	padding: 0;
	}
	
#bottom
	{
	width: 890px;
	height: 90px;
	padding: 30px 30px 0 40px;
	margin: 0 auto 0 auto;
	background-color: #272727;
	background-image: url(images/bg-bottom.jpg);
	background-position: left bottom;
	background-repeat: no-repeat;
	color: #272727;
	}

#bottom a
	{
	color: #272727;
	}

#siteDetails, #accreditors
	{
	width: 100%;
	background-color: #272727;
	background-image: url(images/bg-darkgrey-uplit.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	color: #ffffff;
	}

#siteDetails ul, #accreditors ul
	{
	width: 960px;
	margin: 0 auto 0 auto;
	}

#siteDetails ul li 
	{
	width: 280px;
	padding: 30px 0 30px 30px;
	}

#siteDetails a
	{
	color: #ffffff;
	}
		
#copyright
	{
	width: 590px;
	float: right;
	}

#bookmarks
	{
	width: 300px;
	float: left;
	}

#documents a.pdf
	{
	display: inline-block;
	padding: 12px 0 12px 42px; 
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(images/icon-pdf.png);
	}

#documents a.doc, #documents a.docx
	{
	display: inline-block;
	padding: 12px 0 12px 42px; 
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(images/icon-word.png);
	}

.success, .error
	{
	margin: 10px 0 10px 0;
	}

.buttonWrapper
	{
	display: inline-block;
	height: 30px;
	overflow: hidden;
	}

.buttonWrapper img:hover, .buttonWrapper input:hover  
	{
	position: relative;
	margin-top: -30px;
	}

.bigButtonWrapper
	{
	display: inline-block;
	height: 60px;
	overflow: hidden;
	}

.bigButtonWrapper img:hover, .bigButtonWrapper input:hover 
	{
	position: relative;
	margin-top: -60px;
	}